<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        Plantilla en MVC, con BOOTSTRAP 3
      {% endblock %}
    </title>
 
    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

    <!-- CSS de SCEditor -->
    <link rel="stylesheet" href="sceditor/minified/themes/office.min.css" />
  </head>
  <body>
    
    <section class="container" style="width: 100%;">
      
      <header>
      {% block encabezado %}
      <img src="./images/logo.png">
      {% endblock %}
      </header>
      
      <nav class=" nav nav-tabs">
        <li><a href="blog.html">Noticias</a></li>
        <li><a href="reviews.html">Reviews</a></li>
        <nav class="text-right">
          {% block login %}

        {% if session.conectado %}
          
          <h4>Estas conectado - <small><a href="index.php?desconectar=si">Desconectar</a></small></h4>
          
        {% else %}
            
          <form class="form-inline" role="form" method="post" action="index.php">
            <div class="form-group">
              <label class="sr-only" for="correo">Email</label>
              <input type="email" class="form-control" id="correo"
                     placeholder="Introduce tu email" name="correo">
            </div>
            <div class="form-group">
              <label class="sr-only" for="clave">Contraseña</label>
              <input type="password" class="form-control" id="clave" 
                     placeholder="Contraseña" name="clave">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="recordar"> No cerrar sesión
              </label>
            </div>
            <button type="submit" class="btn btn-default" name="entrar">Entrar</button>
          </form>

        {% endif %}

      {% endblock %}
        </nav>
      </nav>

      <section>
        <header>
          <h2>
          {% block titulo_contenido %}
          {% endblock %}
          </h2>
        </header>
        <section>
        {% block contenido %}
          AQUI VA EL CONTENIDO
        {% endblock %}
        </section>
      </section>

      <footer>
      {% block pie %}
        <hr>
        <h4>Arcor, Inc. Todos los derechos reservados</h4>
      {% endblock %}
      </footer>

    </section>
    
    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="js/jquery-3.3.1.min.js"></script>
 
    <!-- Todos los plugins JavaScript de Bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Queda puesto el wysiwyg sceditor -->
    <script src="sceditor/minified/sceditor.min.js"></script>
    <script src="sceditor/minified/formats/bbcode.min.js"></script>
    <script src="sceditor/languages/es.js"></script>
    <script>
      var textarea = document.getElementById('contenido');
      sceditor.create(textarea, {
        format: 'bbcode'
      });
    </script>
    <script>
      var textarea = document.getElementById('descripcion');
      sceditor.create(textarea, {
        format: 'bbcode'
      });
    </script>
  </body>
</html>