{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small><a href="index.php?c=blogController.php">Volver</a></small>
{% endblock %}

{% block contenido %}
    
	<article>
		<header>
			<h1>{{ entrada.titulo }}</h1>
			<br>
			{{ entrada.fecha }} - {{ entrada.autor }}
		</header>
		<br>
		<section>
			{{ entrada.contenido|raw }}
		</section>
	</article>

{% endblock %}