{% extends 'base.html.twig' %}

{% block titulo_contenido %}
	{{ parent() }}
	<small>Insertar/modificar un elemento</small>    
{% endblock %}

{% block contenido %}
    <form action="index.php?c=blogController.php&accion={{ accion }}" method="post" enctype="multipart/form-data">
    	<div>
    		<label for="titulo">
    			Titulo de la noticia:
    		</label>
    		<input type="text" name="titulo" id="titulo" class="form-control" value="{{ entrada.titulo }}">
    	</div>
    	<div>
    		<label for="contenido">
    			Contenido de la noticia:
    		</label>
    		<textarea name="contenido" id="contenido" style="height: 500px;" class="form-control">{{ entrada.contenido }}</textarea>
    	</div>
        <div>
            <label for="autor">
                Autor:
            </label>
            <input type="text" name="autor" id="autor" class="form-control" value="{{ entrada.autor }}">
        </div>
    	<br>
        <input type="hidden" name="id" value="{{ entrada.id }}">
    	<div>
    		<input type="submit" name="enviar" id="enviar" class="form-control">
    	</div>

    </form>
{% endblock %}