{% extends 'base.html.twig' %}

{% block titulo_contenido %}
	{{ parent() }}
	{% if session.conectado %}
	<small>
	<a href="index.php?c=blogController.php&accion=insertar">
		Nueva noticia
	</a>
	</small>
	{% endif %}
{% endblock %}

{% block contenido %}
	<table class="table table-striped">
		<tr>
			<th>Lo último</th>
		</tr>

		{% for entrada in entradas %}
		<tr>
			<td>
				{% if session.conectado %}
				<a href="index.php?c=blogController.php&id={{ entrada.id }}&accion=ver">
					{{ entrada.titulo }}
				</a>
				-
				<a href="index.php?c=blogController.php&id={{ entrada.id }}&accion=borrar">Borrar</a>
				-
				<a href="index.php?c=blogController.php&id={{ entrada.id }}&accion=modificar">Modificar</a>
				{% else %}
				<a href="index.php?c=blogController.php&id={{ entrada.id }}&accion=ver">
					{{ entrada.titulo }}
				</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		
	</table>
{% endblock %}