{% extends 'base.html.twig' %}

{% block titulo_contenido %}
	{{ parent() }}
	{% if session.conectado %}
	<small>
	<a href="index.php?c=reviewsController.php&accion=insertar">
		Nuevo review
	</a>
	</small>
	{% endif %}
{% endblock %}

{% block contenido %}
	<table class="table table-striped">
		<tr>
			<th>Nombre del review</th>
		</tr>

		{% for review in reviews %}
		<tr>
			<td>
				{% if session.conectado %}
				<a href="index.php?c=reviewsController.php&id={{ review.id }}&accion=ver">
					{{ review.nombre }}
				</a>
				-
				<a href="index.php?c=reviewsController.php&id={{ review.id }}&accion=borrar">Borrar</a>
				-
				<a href="index.php?c=reviewsController.php&id={{ review.id }}&accion=modificar">Modificar</a>
				{% else %}
				<a href="index.php?c=reviewsController.php&id={{ review.id }}&accion=ver">
					{{ review.nombre }}
				</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		
	</table>
{% endblock %}