{% extends 'base.html.twig' %}

{% block titulo_contenido %}
	{{ parent() }}
	<small>Insertar/modificar un elemento</small>    
{% endblock %}

{% block contenido %}
    <form action="index.php?c=reviewsController.php&accion={{ accion }}" method="post" enctype="multipart/form-data">
    	<div>
    		<label for="nombre">
    			Nombre del review:
    		</label>
    		<input type="text" name="nombre" id="nombre" class="form-control" value="{{ review.nombre }}">
    	</div>
    	<div>
    		<label for="descripcion">
    			Descripcion del review:
    		</label>
    		<textarea name="descripcion" id="descripcion" style="height: 500px;" class="form-control">{{ review.descripcion }}</textarea>
    	</div>
        <div>
            <label for="autor">
                Autor:
            </label>
            <input type="text" name="autor" id="autor" class="form-control" value="{{ review.autor }}">
        </div>
    	<br>
        <input type="hidden" name="id" value="{{ review.id }}">
    	<div>
    		<input type="submit" name="enviar" id="enviar" class="form-control">
    	</div>

    </form>
{% endblock %}