{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small><a href="index.php?c=reviewsController.php">Volver</a></small>
{% endblock %}

{% block contenido %}
    
	<article>
		<header>
			<h1>{{ review.nombre }}</h1>
			<br>
			{{ review.fecha }} - {{ review.autor }}
		</header>
		<br>
		<section>
			{{ review.descripcion|raw }}
		</section>
	</article>

{% endblock %}